/*http://www.color-hex.com/color-palette/34099*/

body {
  background-color: #cecece;
}

h1 {
  color: #f3f4f9;
  background-color: #229dcf;
  font-family: Tahoma;
  font-variant: small-caps;
  font-size: 60px;
  padding-left: 30px;
  margin: 0;
}

div #landingpage {
  width: 600px;
  height: 200px;
  background-color: white;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

input {
  font-size: 20px;
  width: 100px;
  position: relative;
  padding: 4px;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

button #login {
  width: 20px;
}

#map {
  border: 1px solid blue;
  width: 800px;
  height: 500px;
}